<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <h4>Etapes</h4>
  <div id="recipe_steps">
    <%= form.fields_for :recipe_steps do |recipe_step_form| %>
      <%= render "recipe_steps/form", form: recipe_step_form %>
    <% end %>
  </div>

  <%= form.submit "Ajoute une étape", formaction: recipe_step_path(@recipe.recipe_steps.size),
                                      formmethod: :post,
                                      formnovalidate: true,
                                      id: "add-task" %>

  <div>
    <%= form.fields_for :recipe_steps do |recipe_step_form| %>
      <%= recipe_step_form.hidden_field :id %>

      <div>
        <%= recipe_step_form.label :description, style: "display: block" %>
        <%= recipe_step_form.text_field :description %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
