<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<% @recipe.recipe_steps.each_with_index do |step, index| %>
  <p>
    <strong>Étape <%= index + 1 %> :</strong><br />
    <%= step.description %>
  </p>
<% end %>

<div>
  <%= link_to "Modifier la recette", edit_recipe_path(@recipe) %> |
  <%= link_to "Retour à l'accueil", recipes_path %>

  <%= button_to "Supprimer la recette", @recipe, method: :delete %>
</div>
