<p style="color: green"><%= notice %></p>

<% @recipe_steps.each do |step| %>
  <p>
    <strong>Étape <%= step.step_number %>:</strong><br />
    <%= step.description %>
  </p>
<% end %>

<%= render @recipe %>

<div>
  <%= link_to "Modifier la recette", edit_recipe_path(@recipe) %> |
  <%= link_to "Retour à l'accueil", recipes_path %>

  <%= button_to "Supprimer la recette", @recipe, method: :delete %>
</div>
